@@include("../components/_header.html")

<div class="content-wrap">

    @@include("../components/_main-menu.html")

    <div class="main-section">


        <div class="title-h2">Константы смет</div>

        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#">Настройки</a>
                </li>
                <li class="breadcrumbs__item">
                    <span>Константы смет</span>
                </li>
            </ul>
        </div>

        <section class="cost-constants">
            <div class="cost-constants__row">
                <div class="cost-constants__column">
                    <div class="cost-constants__field block-constants">
                        <div class="block-constants__title title-h3">Поля</div>

                        <div class="block-constants__tab">

                            <div class="block-constants__tab-controls">
                                <div class="block-constants__tab-controls-left">
                                    <template v-for="(item, index) in costConstants.mainConts">
                                        <div class="block-constants__tab-btn" v-on:click="switchTab(item)">
                                            {{ item.nameTitle}}
                                        </div>
                                    </template>
                                </div>

                                <div class="block-constants__tab-controls-right">
                                    <div class="block-constants__tab-btn-two"
                                        v-on:click="switchTab(costConstants.addFunctionality)">Доп функционал</div>

                                    <div class="block-constants__tab-btn-two"
                                        v-on:click="switchTab(costConstants.licenses)">Лицензии</div>
                                </div>
                            </div>

                            <div class="block-constants__tab-content">

                                <template v-for="(item, index) in costConstants.mainConts" :key="index">
                                    <comp-main-conts v-on:event-add-field-main-conts="addFieldMainConts"
                                        :objparam="item" v-on:event-edits-field-value="editsFieldValue"
                                        v-on:event-delete-field="deleteField" v-if="activeTab === item.idCost" />
                                </template>


                                <template v-if="activeTab === costConstants.addFunctionality.idCost">
                                    <comp-add-functionalitys :objparam="costConstants.addFunctionality"
                                        v-on:event-add-field-add-functionality="addFieldAddFunctionality"
                                        v-on:event-edits-field-value="editsFieldValue"
                                        v-on:event-delete-field="deleteField" />
                                </template>

                                <template v-if="activeTab === costConstants.licenses.idCost">
                                    <comp-licenses :objparam="costConstants.licenses"
                                        v-on:event-add-field-licenses="addFieldLicenses"
                                        v-on:event-edits-field-value="editsFieldValue"
                                        v-on:event-delete-field="deleteField" />
                                </template>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="cost-constants__column">
                    <div class="cost-constants__standart standart-constants">
                        <div class="standart-constants__title title-h3">Стандартные константы</div>

                        <div class="standart-constants__list">
                            <template v-for="(item, index) in costConstants.standartConst" :key="index">
                                <comp-standart-const :objparam="item"
                                    v-on:event-edits-fild-standart-const="editsFildStandartConst" />
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>

<script defer src="./js/page/cost-constants.js"></script>

@@include("../components/_footer.html")