@@include("../components/_header.html")

<div class="content-wrap">

    @@include("../components/_main-menu.html")

    <div class="main-section">

        <div class="title-h2">Мои проекты</div>

        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#">Домашняя страница</a>
                </li>

                <li class="breadcrumbs__item">
                    <span>Мои проекты</span>
                </li>
            </ul>
        </div>

        <section class="all-projects">

            <div class="all-projects__group">
                <a href="#" class="all-projects__create-project main-btn">Создать проект</a>
                <div class="all-projects__list-filter">
                    <template v-for="(item, index) in listFilter" :key="index">
                        <comp-filters-projects :objparam="item" v-on:event-chang-filter="changFilter" />
                    </template>
                </div>
            </div>

            <div class="all-projects__list">
                <template v-for="(item, index) in listProject" :key="index">
                    <comp-project :objpram="item" v-on:event-project-enable="projectEnable"
                        v-on:event-project-delete="projectDelete" v-on:event-project-end="projectEnd"
                        v-on:event-project-copy="projectCopy" v-on:event-project-refer="projectRefer" />
                </template>
            </div>
        </section>
    </div>

</div>

<script defer src="./js/page/project-all.js"></script>

@@include("../components/_footer.html")